@mixin clearfix {
    //agrega (appends) un pseudoelemento después del elemento que después eliminará(clear) los floats
    &::after {
        content: "";//vacío porque no queremos ver el elemento en la página
        display: table; //versión standard de clearfix
        clear: both; //ambos floats
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}